<div class="container">
    <div class="text">
        <div class="intro">
            SO, YOU WANT TO TRAVEL TO
        </div>
        <div class="space">
            SPACE
        </div>
        <div class="sub-text">
            Let's face it; if you wnat to go to space, you might as well  genuinely go to outer space and not hover kind of on the edge of it. 
            Well sit back, and relax because we'll give you a truly out of this world experience!
        </div>
    </div>
    <div class="circle">
        <div [class]="'explore' + (animationStart ? ' animate' : '')" (click)="animateRoute()">
            EXPLORE
        </div>
    </div>
</div>